<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Add task
    </ion-title>
    <ion-buttons slot="primary">
      <ion-button (click)="onCreateTask()">
        <ion-icon name="checkmark" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <form [formGroup]="form!">
    <ion-grid>
      <ion-row>
        <ion-col size-sm="6" offset-sm="3">
          <ion-item>
            <ion-label position="floating">Title</ion-label>
            <ion-input type="text" autocomplete autocorrect formControlName="title"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size-sm="6" offset-sm="3">
          <ion-item>
            <ion-label position="floating">Description</ion-label>
            <ion-textarea rows="3" formControlName="description"></ion-textarea>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size-sm="6" offset-sm="3">
          <ion-item>
            <ion-label position="floating">Priority</ion-label>
            <ion-input type="number" formControlName="priority"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size-sm="6" offset-sm="3">
          <ion-item>
            <ion-datetime-button datetime="startDate"></ion-datetime-button>
            <ion-modal [keepContentsMounted]="true">
              <ng-template>
                <ion-datetime formControlName="startDate" id="startDate"></ion-datetime>
              </ng-template>
            </ion-modal>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size-sm="6" offset-sm="3">
          <ion-item>
            <ion-datetime-button datetime="endDate"></ion-datetime-button>
            <ion-modal [keepContentsMounted]="true">
              <ng-template>
                <ion-datetime formControlName="endDate" id="endDate"></ion-datetime>
              </ng-template>
            </ion-modal>
          </ion-item>
        </ion-col>
      </ion-row>
    </ion-grid>
  </form>

</ion-content>
